.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.egg-info
.venv
venv/
.mypy_cache
.ruff_cache
.pytest_cache
.env
src/.env
README.md
docker.sh
requirements.txt
.python-version
.dockerignore
data/
model/
**/*.bson
**/*.pkl
**/*.parquet
**/*.csv
**/*.png
**/*.ipynb
