__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

.venv/
venv/

.env
src/.env

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# data/
# model/

*.parquet
*.csv
*.pkl
!src/model/**/*.pkl
*.bson
*.png
*.ipynb
.ipynb_checkpoints/

tests/test_case_*.pkl

.vscode/
.idea/
