:root[data-scheme='mono'] {
  --app-font-sans: var(--font-geist-mono);
  --app-font-mono: var(--font-geist-mono);
  --radius: 0rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1 0 0);
  --popover: oklch(1 0 0);
  --primary: oklch(0.5555 0 0);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9702 0 0);
  --muted: oklch(0.9702 0 0);
  --accent: oklch(0.9702 0 0);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.709 0 0);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.2046 0 0);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2046 0 0);
}

:root[data-scheme='mono'].dark {
  --app-font-sans: var(--font-geist-mono);
  --app-font-mono: var(--font-geist-mono);
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2134 0 0);
  --popover: oklch(0.2686 0 0);
  --primary: oklch(0.5555 0 0);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.2686 0 0);
  --muted: oklch(0.2686 0 0);
  --accent: oklch(0.3715 0 0);
  --border: oklch(0.3407 0 0);
  --input: oklch(0.4386 0 0);
  --ring: oklch(0.5555 0 0);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.9851 0 0);
  --sidebar-primary-foreground: oklch(0.2046 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
}
